.subtitle {
  margin-bottom: 4rem;
  text-align: center;
  color: #fff;
}

.photo-cat {
  max-height: 500px;
  padding: 10px;
  max-width: 500px;
}

.input, .select {
  margin: 2px;
  padding: 3px;
  height: 23px ; 
  border-radius: 6px;
  border: none;
}


.grid-inputs {
  display: grid;
  /* grid-row-gap: 56px; */
  /* grid-row-gap: 17px; */
  row-gap: 16px;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
}


.select {
  grid-column: 1/ 3;
  grid-row: 1 / 2;
}

.one {
  grid-column: 1 / 2;
  grid-row: 2/3;
}

.two {
  grid-column: 2 / 3;
  grid-row: 2/ 3;
}

.three {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.four {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.five {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.six {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.btn {
  height: 20px;
  border: none;
  /* color: #ccc; */
  background: rgb(40, 177, 28);
  border-radius: 5px;
  cursor: pointer;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  transition: .3s;
}

.btn:hover {
  background: rgb(35, 121, 28);
}

@media (min-width: 767px) {
  
  .grid-inputs {
    grid-template-columns: repeat(2, 300px);
  }

  .btn {
    height: 23px;
  }
} 